{{template "header.html" .}}

<section class="hero">
    <div class="hero-body">
        <img src="/public/img/404.jpg" alt="">
        <p class="title">
            404. Page not found
        </p>

        Image par<a href="https://pixabay.com/fr/users/emkanicepic-7638451/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3141311">Michael Kauer</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3141311">Pixabay</a>
    </div>
</section>
<!-- /.container -->
{{template "footer.html" .}}