<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>This is the title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/buttons.css">
    <link rel="stylesheet" href="/public/css/fdtBm.tree.css">
    <!-- Bulma Version 0.8.x-->
    <link rel=" stylesheet " href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css " />
</head>

<body>
    <nav class="navbar is-primary " role="navigation " aria-label="main navigation ">
        <div class="navbar-brand ">
            <a class="navbar-item " href="/ ">
                <img src="/public/img/2695011.svg " width="60 " height="60 " alt=" ">
            </a>

            <a role="button " class="navbar-burger burger " aria-label="menu " aria-expanded="false " data-target="navbarBasicExample ">
                <span aria-hidden="true "></span>
                <span aria-hidden="true "></span>
                <span aria-hidden="true "></span>
            </a>
        </div>

        <div id="navbarBasicExample " class="navbar-menu ">
            <div class="navbar-start ">
                <a class="navbar-item " href="/ ">Home</a>
                <a class="navbar-item " href="/about ">About</a>
                <a class="navbar-item " href="/books ">Books</a>
                <a class="navbar-item " href="/book/2-266-00855-2 ">Dune</a>
                <a class="navbar-item " href="/book/9780142004142 ">Violet</a>

                <div class="navbar-item has-dropdown is-hoverable ">
                    <a class="navbar-link ">More</a>

                    <div class="navbar-dropdown ">
                        <a class="navbar-item ">
            About
          </a>
                        <a class="navbar-item ">
            Jobs
          </a>
                        <a class="navbar-item ">
            Contact
          </a>
                        <hr class="navbar-divider ">
                        <a class="navbar-item ">
            Report an issue
          </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end ">
                <div class="navbar-item ">
                    <div class="buttons ">
                        <a class="button is-primary ">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light ">
            Log in
          </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>